# Ignore everything at the root level
/*

# Except:
!.gitignore
!Resources
!Project
!Components

# You may want to include some of the following items.
# If you do swap the # for and ! at that start of the line
# optionally you should move it to the section above

#Data 
#Settings

# Ignore these sub folders
Project/DerivedData
Project/BuildSettings

Components/Cache
Components/Hide

Resources/Cache

# Ignore everywhere.
__MACOSX

# End of File
