.Default {
	font-family: System Font;
	font-size: 13px;
}

.Large_Bold {
	font-family: System Font;
	font-size: 13px;
	font-weight: bold;
}

.Large_Plain {
	font-family: System Font;
	font-size: 13px;
}

.List_Header {
	font-family: System Font;
	font-size: 11px;
}

.List_Item {
	font-family: System Font;
	font-size: 12px;
}

.MacVet_ListItem {
	font-family: System Font;
	font-size: 12px;
}

.MacVet_Small {
	font-family: System Font;
	font-size: 11px;
}

.ReportData {
	font-family: Helvetica;
	font-size: 10px;
}

.ReportHeader12 {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
}

.SmallControl {
	font-family: Lucida Grande;
	font-size: 11px;
}

.SmallLabel {
	font-family: Lucida Grande;
	font-size: 11px;
}

